@media (max-width: 480px) {
    #i0vonj {
        padding-left: 5px;
    }

    #fkt-image-779-ca8-bdf,
    #fkt-image-de7-297-855 {
        height: 49px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #fkt-link-c49-d92-af7 {
        font-size: 14px;
    }

    #fkt-link-c49-d92-af7 {
        padding-right: 20px;
    }

    #fkt-image-2a0-f95-a8d {
        height: 29px;
    }

    #iowqy5r {
        align-self: center;
        margin-right: 0px;
    }

    #i8ebe {
        margin-right: 10px;
        margin-left: 10px;
    }

    #il8dj {
        height: 370px;
    }

    #fkt-image-736-2b1-b9b {
        height: 230px;
    }

    #ibt0z02 {
        font-size: 26px;
    }

    #igebmrm {
        color: inherit;
        font-size: 1.5rem;
    }

    #ilwyvpx {
        font-size: 1.6rem;
    }

    #ifv814 {
        font-size: 30px;
        line-height: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #iol3qbl {
        margin-top: 0px !important;
    }

    #i43s36k {
        padding-bottom: 22px;
    }

    #iyaw6oi {
        padding-bottom: 22px;
    }

    #iv7nx8j {
        padding-bottom: 22px;
    }

    #fkt-image-6c9-181-b6b {
        height: 300px;
    }

    #fkt-image-404-1a3-a2d {
        height: 300px;
    }

    #fkt-image-f77-5ba-83a {
        height: 300px;
    }

    #fkt-image-385-dbb-bba {
        height: 300px;
    }

    #iday0cu {
        text-align: center;
    }

    #iqyr64n {
        height: auto;
    }

    #fkt-image-bf7-eaa-b84 {
        width: 300px !important;
    }

    #igvkg {
        font-size: 18px;
    }

    #i4dg34b {
        width: 100% !important;
    }

    #ig163hs h2{
        font-size: 26px;
        padding-top: 20px;
    }

    #i2ke84r {
        font-size: 15px;
    }

    #ix0b3tl {
        width: 35% !important;
    }

    #iy0y5j {
        text-align: left;
    }
}

@media (min-width: 960px) {
    #iowz8a .slick-track .slick-slide .fk-inner-row{
        height: 100%;
    }
    
    #fkt-link-c49-d92-af7 {
        padding-right: 15px;
        padding-left: 15px;
    }

    #fkt-image-a90-c88-938 {
        width: 500px !important;
    }

    #fkt-image-098-e97-acd {
        height: auto;
        padding-right: 10px !important;
    }

    #fkt-image-bf7-eaa-b84 {
        width: 500px !important;
    }

    #idhvjn1 {
        width: 20% !important;
    }

    #fkt-image-098-e97-acd {
        height: auto;
        padding-right: 5px !important;
    
    }

    #idxt52 {
        padding-bottom: 55px;
    }
    #i9iu23v {
        padding: 25px;
    }
}

@media (min-width: 600px) {
    #i4dg34b {
        width: 100% !important;
    }
}

/* Global */
#ipvvqz {
    width: 100% !important;
}

#fkt-link-c49-d92-af7 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.faqbtn {
    color: #ff9900 !important;
}

.faqbtnactive {
    color: #fff !important;
}

input[type="checkbox"], input[type="radio"], .fk-product-radio:checked {
    accent-color: transparent !important;
}

.fk-youtube{
    height: 450px;
}

/* -- added -- */

/* hero section 1 */

/* hero section 1 end */

/* hero section 2 */
#i0jovdc{
    height: auto !important;
    padding-top: 16px;
    padding-bottom: 16px;
}

#iiqf41k{
    gap: 16px;
}

#iyukchd{
    display: flex !important;
    flex-direction: column;
    max-width: 520px;
}

#izbgx > div {
    gap: 4px;
}

#ighf80y,
#i2hbr8j,
#ijghnkm{
    width: auto !important;
}

#ighf80y img,
#i2hbr8j img,
#ijghnkm img{
object-fit: contain;
}

/* hero section 2 end */

/* hero review slider */

#ix4g7f .slick-track,
#iowz8a .slick-track{
    display: flex;
}
#ix4g7f .slick-track .slick-slide .fk-inner-column,
#iowz8a .slick-track .slick-slide .fk-inner-column{
    display: flex !important;
    height: 100%;
    flex-direction: column;
}

#iowz8a .slick-track .slick-slide .fk-inner-column > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#iowz8a .slick-dotted.slick-slider .slick-dots{
    bottom: -30px;
}

/* feature product */

#cc-thumbnail-carousel-nav .slick-track {
    display: flex;
    gap: 6px;
}

#ix0b3tl{
    width: auto !important;
}

#izyp7i{
    gap: 4px;
}

#iqdl5h{
    width: auto;
}
#i0vonj{
    width: max-content !important;
    align-items: center;
}

#ioc98y,
#itc732,
#ig55l2
{
    width: max-content;    
}

#ieer9lq {
    width: 100% !important;
}

#fkt-link-c49-d92-af7{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
    height: auto !important;
    gap: 6px;
}

/* feature product end */

/* science card */
#iehe0y{
    padding: 16px;
}

#ihya6q{
    width: 100%;
    height: 100%;
}

#i9og0ys,
#i2alo2{
    width: 100% !important;
}

#i9og0ys > div{
    width: 100% !important;
}

#fkt-image-098-e97-acd{
    height: 100%;
    width: 100% !important;
    object-fit: cover;
}
/* science card end */

/* review 2 cards slider */
#ix4g7f .slick-track .slick-slide{
    background-color: transparent !important;
    border-radius: 24px;
}
#ix4g7f .slick-track .slick-slide .fk-inner-row{
    max-height: 100% !important;
    height: 100%;
}
/* review 2 cards slider end */


/* Customer Reviews */
#i20wn8q > div{
    flex-basis: 50% !important;
    width: 100% !important;
}

#itmpk66 > div{
    width: auto !important;
}

#i42zbal>div>div{
    width: 100% !important;
}

/* Customer Reviews */

/* Do You Know Testimonial */
#igcnexf{
    width: 100% !important;
}
/* Do You Know Testimonial End */

/* Promo Video */
#iqyr64n{
    height: 100% !important;
    max-height: 480px !important;
}
/* Promo Video End */

/* FAQS */
#i706qee{
    width: 100%;
    flex-basis: 30%;
}
#i4d4hih{
    width: 100%;
    flex-basis: 70%;
}
/* FAQS END */

/* Media Query */
@media screen and (max-width: 992px) {
    #i1rjfch{
        width: 100%;
    }
    #iiqf41k{
        flex-direction: column-reverse;
        align-items: center;
    }
    #i8mf2p{
        padding: 16px;
    }
    #idc25w {
        gap: 16px;
    }
    #ihya6q{
        max-height: 480px;
        border-radius: 10px;
        overflow: hidden;
    }
    #imm9nu{
        position: relative;
    }
    #i9scff{
        margin-left: auto;
        margin-right: auto;
    }
    #iory15j,
    #i4dg34b,
    #i4d4hih,
    #ip3yigg > div,
    #i706qee,
    #ifv814,
    #iqxb69k,
    #ihk0szp{
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    #i20wn8q{
        flex-direction: column;
    }
    #iday0cu{ 
        text-align: center;
    }
    #iory15j {
        flex-direction: column !important;
    }
}

/* -- added end -- */