@media (max-width: 480px) {
    #i0vonj{
      padding-left: 5px;
    }
  
    #fkt-image-779-ca8-bdf,
    #fkt-image-de7-297-855 {
      height: 49px;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    #fkt-link-c49-d92-af7 {
      font-size: 14px;
    }
  
    #fkt-link-c49-d92-af7 {
      padding-right: 20px;
    }
  
    #fkt-image-2a0-f95-a8d {
      height: 29px;
    }
  
    #iowqy5r {
      align-self: center;
    }
  
    #i8ebe {
      margin-right: 10px;
      margin-left: 10px;
    }
  
    #il8dj{
      height: 370px;
    }
  
  }
  
  @media (min-width: 960px) {
    #fkt-link-c49-d92-af7{
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  #ipvvqz{
    width: 100% !important; 
  }