@media (max-width: 480px) {
    #i0vonj {
        padding-left: 5px;
    }

    #fkt-image-779-ca8-bdf,
    #fkt-image-de7-297-855 {
        height: 49px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #fkt-link-c49-d92-af7 {
        font-size: 14px;
    }

    #fkt-link-c49-d92-af7 {
        padding-right: 20px;
    }

    #fkt-image-2a0-f95-a8d {
        height: 29px;
    }

    #iowqy5r {
        align-self: center;
        margin-right: 0px;
    }

    #i8ebe {
        margin-right: 10px;
        margin-left: 10px;
    }

    #il8dj {
        height: 370px;
    }

    #fkt-image-736-2b1-b9b {
        height: 230px;
    }

    #ibt0z02 {
        font-size: 26px;
    }

    #igebmrm {
        color: inherit;
        font-size: 1.5rem;
    }

    #ilwyvpx {
        font-size: 1.6rem;
    }

    #ifv814 {
        font-size: 30px;
        line-height: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #iol3qbl {
        margin-top: 0px !important;
    }

    #i43s36k {
        padding-bottom: 22px;
    }

    #iyaw6oi {
        padding-bottom: 22px;
    }

    #iv7nx8j {
        padding-bottom: 22px;
    }

    #fkt-image-6c9-181-b6b {
        height: 300px;
    }

    #fkt-image-404-1a3-a2d {
        height: 300px;
    }

    #fkt-image-f77-5ba-83a {
        height: 300px;
    }

    #fkt-image-385-dbb-bba {
        height: 300px;
    }

    #iday0cu {
        text-align: center;
    }

    #iqyr64n {
        height: auto;
    }

    #fkt-image-bf7-eaa-b84 {
        width: 300px !important;
    }

    #igvkg {
        font-size: 18px;
    }

    #i4dg34b {
        width: 100% !important;
    }

    #ig163hs h2{
        font-size: 26px;
        padding-top: 20px;
    }

    #i2ke84r {
        font-size: 15px;
    }

    #ix0b3tl {
        width: 35% !important;
    }

    #iy0y5j {
        text-align: left;
    }
}

@media (min-width: 960px) {
    #fkt-link-c49-d92-af7 {
        padding-right: 15px;
        padding-left: 15px;
    }

    #fkt-image-a90-c88-938 {
        width: 500px !important;
    }

    #fkt-image-098-e97-acd {
        height: auto;
        padding-right: 10px !important;
    }

    #fkt-image-bf7-eaa-b84 {
        width: 500px !important;
    }

    #idhvjn1 {
        width: 20% !important;
    }

    #fkt-image-098-e97-acd {
        height: auto;
        padding-right: 5px !important;
    
    }

    #idxt52 {
        padding-bottom: 55px;
    }
    #i9iu23v {
        padding: 25px;
    }
}

@media (min-width: 600px) {
    #i4dg34b {
        width: 100% !important;
    }
}

/* Global */
#ipvvqz {
    width: 100% !important;
}

#fkt-link-c49-d92-af7 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.faqbtn {
    color: #ff9900 !important;
}

.faqbtnactive {
    color: #fff !important;
}

input[type="checkbox"], input[type="radio"], .fk-product-radio:checked {
    accent-color: transparent !important;
}

.fk-youtube{
    height: 450px;
}

/* -- added -- */
.slick-track{
    display: flex;
}

.slick-track .slick-slide .fk-inner-row{
    height: 100%;
}

.slick-track .slick-slide .fk-inner-column{
    display: flex !important;
    height: 100%;
    flex-direction: column;
}

.slick-track .slick-slide .fk-inner-column > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.slick-dotted.slick-slider .slick-dots{
    bottom: -30px;
}
/* -- added end -- */